<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

  </head>
  <body>
    <div class="container">
      <div class="animated-scene">
        <div class="animated-scene__frame animated-scene__frame-1" ></div>
        <div class="animated-scene__frame animated-scene__frame-2"></div>
        </div>
        <div class="bg--black--over">
          <img src="../images/logo.png" alt="Logo" class="club--logo" />
          <h1 class="txt--wh">Welcome To PhotoGraphic Club (MSEC)</h1>
          <p>Support the best photoGrapher of Mepco</p>
          <form>
            <h1>Vote</h1>
            <p class="exist"></p>
            <p class="th"></p>

            <div class="flex--inp--container">
              <div class="row">
                <div class="flex--wrap">
                  <i class="las la-user icon"></i>
                  <input type="text" class="form-control regno" placeholder="Enter RegNo (eg, 14723)" name="regNo" value="" onInput="getInp()"/>
                </div>
              <p class="reg-err err" ></p>

              </div>
              
              <div class="row">
                <div class="flex--wrap">
                  <i class="las la-poll-h icon"></i>
                  <input type="text" class="form-control vote" placeholder="Enter Voting No (0-15)" name="votingNo" value="" onInput="getInp()"/>
                </div>
              <p class="vote-err err" ></p>
              </div>
              <button type="button" id="btn--change" class="btn--submit" onClick="onSubmit()">Submit</button>
            </div>
          </form>
        </div>
    </div>
    <script src="/javascripts/ajax.js"></script>
  </body>
</html>
